# Database
DATABASE_URL="postgresql://postgres:postgres@localhost:5433/badminton_world?schema=public"

# NextAuth.js
NEXTAUTH_SECRET="your-secret-key-here-generate-with-openssl-rand-base64-32"
NEXTAUTH_URL="http://localhost:3000"

# Node Environment
NODE_ENV="development"
